body{
    background-color: steelblue;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    max-width:200px;
    height: auto;
    border-radius: 25px;
    padding: 50px;
    background-color: turquoise;

}
input{
    padding: 5px;
    border-radius: 5px;
}
button{
    padding: 5px;
    border-radius: 3px;
}